.gitignore
backend/__pycache__/
backend/routers/__pychache__/
backend/utils/__pychache__/
backend/config.json
dist
node_modules
__pycache__/
.pytest_cache/
archive/
routers/__pychache__/
utils/__pychache__/
backend/config.json
.dmypy.json
